<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Ronalfy_Jimenez_P2_Ap1</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="/Curso/Index">
                <span class="bi bi-backpack-fill me-3 fs-3 mb-4" me-3 fs-3 mb-4" aria-hidden="true" style="vertical-align:middle;margin-left: -5px;margin-top:-7px"></span>Encuesta
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="/Ciudad/Index">
                <span class="bi bi-building-fill me-3 fs-3 mb-4" me-3 fs-3 mb-4" aria-hidden="true" style="vertical-align:middle;margin-left: -5px;margin-top:-7px"></span>Ciudades
            </NavLink>
        </div>

    </nav>
</div>

